<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qingGuo.dao.UserDao">
    <resultMap id="BaseResultMap" type="org.qingGuo.model.User">
        <id column="user_id" property="id"/>
        <result column="user_name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_phone" property="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_password" property="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_role" property="role" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_account" property="account" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_email" property="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_gender" property="gender" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_wechat" property="wechat" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_location" property="location" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_birthday" property="birthday" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_headUrl" property="headUrl" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_deposit_status" property="depositStatus" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_field" property="field" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_ps" property="ps" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_id_card" property="idCard" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="user_account_balance" property="accountBalance"/>
        <association property="shoppingCart" javaType="org.qingGuo.model.ShoppingCart">
            <id column="shopping_cart_id" property="id"/>
            <result column="shopping_cart_total_amount" property="totalAmount"/>
            <result column="shopping_cart_total_money" property="totalMoney"/>
            <collection property="shoppingCartDetails" ofType="org.qingGuo.model.ShoppingCartDetail" resultMap="shoppingCartDetailMap"/>
        </association>
    </resultMap>

    <resultMap id="shoppingCartDetailMap" type="org.qingGuo.model.ShoppingCartDetail">
        <id column="shopping_cart_detail_id" property="id"/>
        <result column="shopping_cart_detail_goods_count" property="goodsCount"/>
        <result column="shopping_cart_detail_goods_money" property="goodsMoney"/>
        <association property="commodity" javaType="org.qingGuo.model.Commodity">
            <id column="goods_id" property="id"/>
            <result column="goods_name" property="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="goods_price" property="price"/>
            <result column="goods_intro" property="intro" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="goods_create_time" property="createTime" jdbcType="TIMESTAMP"
                    javaType="java.util.Date"/>
            <result column="goods_image" property="image" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="goods_type_id" property="typeId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="goods_theme" property="theme" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="goods_period" property="period" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="goods_credit" property="credit" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="goods_first_class_name" property="firstClassName" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="goods_second_class_name" property="secondClassName" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
        </association>
    </resultMap>


    <sql id="Base_Column_List">
        user.id as user_id, user.name as user_name, user.phone as user_phone, user.create_time as user_create_time, user.password as user_password, user.role as user_role, user.account as user_account, user.login_time as user_login_time, user.email as user_email, user.company as user_company, user.gender as user_gender, user.wechat as we_chat, user.location as user_location, user.birthday as user_birthday, user.headUrl as user_headUrl, user.deposit_status as user_deposit_status,user.field as user_field, user.ps as user_ps, user.id_card as user_id_card,user.account_balance as user_account_balance,
        shopping_cart.id as shopping_cart_id, shopping_cart.total_amount as shopping_cart_total_amount, shopping_cart.total_money as shopping_cart_total_money,
        shopping_cart_detail.id as shopping_cart_detail_id, shopping_cart_detail.goods_count as shopping_cart_detail_goods_count, shopping_cart_detail.goods_money as shopping_cart_detail_goods_money,
        goods.id as goods_id, goods.name as goods_name, goods.price as goods_price, goods.intro as goods_intro, goods.create_time as goods_create_time, goods.image as goods_image, goods.type_id as goods_type_id, goods.theme as goods_theme, goods.period as goods_period, goods.credit as goods_credit, goods.first_class_name as goods_first_class_name, goods.second_class_name as goods_second_class_name, goods.status as goods_status
    </sql>
    <select id="get" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from user left join shopping_cart on user.shopping_cart_id = shopping_cart.id
        left join shopping_cart_detail on shopping_cart.id = shopping_cart_detail.shopping_cart_id
        left join goods on shopping_cart_detail.goods_id = goods.id
        where 1 = 1
        <if test="user.id != null">
            and
            user.id = #{user.id,jdbcType=INTEGER}
        </if>
        <if test="user.name != null">
            and
            user.name = #{user.name,jdbcType=VARCHAR}
        </if>
        <if test="user.phone != null">
            and
            user.phone = #{user.phone,jdbcType=VARCHAR}
        </if>
        <if test="user.createTime != null">
            and
            user.create_time = #{user.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="user.password != null">
            and
            user.password = #{user.password,jdbcType=VARCHAR}
        </if>
        <if test="user.role != null">
            and
            user.role = #{user.role,jdbcType=VARCHAR}
        </if>
        <if test="user.account != null">
            and
            user.account = #{user.account,jdbcType=VARCHAR}
        </if>
        <if test="user.loginTime != null">
            and
            user.login_time = #{user.loginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="user.email != null">
            and
            user.email = #{user.email,jdbcType=VARCHAR}
        </if>
        <if test="user.company != null">
            and
            user.company = #{user.company,jdbcType=VARCHAR}
        </if>
        <if test="user.gender != null">
            and
            user. gender = #{user.gender,jdbcType=VARCHAR}
        </if>
        <if test="user.wechat != null">
            and
            user.wechat = #{user.wechat,jdbcType=VARCHAR}
        </if>
        <if test="user.location != null">
            and
            user.location = #{user.location,jdbcType=VARCHAR}
        </if>
        <if test="user.birthday != null">
            and
            user.birthday = #{user.birthday,jdbcType=VARCHAR}
        </if>
        <if test="user.headUrl != null">
            and
            user.headUrl = #{user.headUrl,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insert" parameterType="Map">
      insert into user (id, name, phone,
      create_time, password, role,
      account, login_time, email,
      company,gender,location,birthday,headUrl,ps,deposit_status,id_card,field)
      values (#{user.id,jdbcType=INTEGER}, #{user.name,jdbcType=VARCHAR}, #{user.phone,jdbcType=VARCHAR},
      #{user.createTime,jdbcType=TIMESTAMP}, #{user.password,jdbcType=VARCHAR}, #{user.role,jdbcType=VARCHAR},
      #{user.account,jdbcType=VARCHAR}, #{user.loginTime,jdbcType=TIMESTAMP}, #{user.email,jdbcType=VARCHAR},
      #{user.company,jdbcType=VARCHAR},#{user.gender,jdbcType=VARCHAR},#{user.location,jdbcType=VARCHAR},#{user.birthday,jdbcType=VARCHAR},
      #{user.headUrl,jdbcType=VARCHAR},#{user.ps,jdbcType=VARCHAR},#{user.depositStatus,jdbcType=VARCHAR},#{user.idCard,jdbcType=VARCHAR},#{user.field,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="Map">
        update user
        set
        <if test="user.name != null">
            name = #{user.name,jdbcType=VARCHAR},
        </if>
        <if test="user.phone != null">
            phone = #{user.phone,jdbcType=VARCHAR},
        </if>
        <if test="user.createTime != null">
            create_time = #{user.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="user.password != null">
            password = #{user.password,jdbcType=VARCHAR},
        </if>
        <if test="user.role != null">
            role = #{user.role,jdbcType=VARCHAR},
        </if>
        <if test="user.account != null">
            account = #{user.account,jdbcType=VARCHAR},
        </if>
        <if test="user.loginTime != null">
            login_time = #{user.loginTime,jdbcType=TIMESTAMP},
        </if>
        <if test="user.email != null">
            email = #{user.email,jdbcType=VARCHAR},
        </if>
        <if test="user.company != null">
            company = #{user.company,jdbcType=VARCHAR},
        </if>
        <if test="user.gender != null">
            gender = #{user.gender,jdbcType=VARCHAR},
        </if>
        <if test="user.wechat != null">
            wechat = #{user.wechat,jdbcType=VARCHAR},
        </if>
        <if test="user.location != null">
            location = #{user.location,jdbcType=VARCHAR},
        </if>
        <if test="user.birthday != null">
            birthday = #{user.birthday,jdbcType=VARCHAR},
        </if>
        <if test="user.headUrl != null">
            headUrl = #{user.headUrl,jdbcType=VARCHAR},
        </if>
        <if test="user.depositStatus != null">
            deposit_status = #{user.depositStatus,jdbcType=VARCHAR},
        </if>
        <if test="user.field != null">
            field = #{user.field,jdbcType=VARCHAR},
        </if>
        <if test="user.idCard != null">
            id_card = #{user.idCard,jdbcType=VARCHAR},
        </if>
        <if test="user.ps != null">
            ps = #{user.ps,jdbcType=VARCHAR},
        </if>
        <if test="user.shoppingCart != null">
            shopping_cart_id = #{user.shoppingCart.id,jdbcType=VARCHAR},
        </if>
        <if test="user.accountBalance != null">
            account_balance = #{user.accountBalance},
        </if>
        <if test="user.id != null">
            id = #{user.id,jdbcType=INTEGER}
        </if>
        where 1 = 1
        <if test="user.id != null">
            and
            id = #{user.id,jdbcType=INTEGER}
        </if>

    </update>


</mapper>