.f-12 {
    font-size: 12px;
}

.black {
    color: black;
}
.foot-con {
    width: 100%;
    text-align: center;
}
.footer {
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative; /*相对于父元素contanier定位*/
    bottom: 0;/*始终距离它的父元素的底部为0px.则是处于父元素的最底*/
}