.page-title {
    padding-top: 0.7142857em;
    padding-bottom: 0.7142857em;
    border-bottom: 0.142857em solid  #AF1E0D;
}

.page-title-font {
    font-size: 1.428571em;
}

#shopping-cart-abstract {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
}
.margin-top-10 {
    margin-top: 10px;
}

#abstract-line1 {
    background-color: #f9f9f9;
    height: 35px;
    border-bottom: 2px solid #f5f5f5;
}

#shopping-cart-abstract td {
    width: 170px;
}

.settlement-tab2-col1 {
    padding-left: 1.425714em;
}

#shopping-cart-abstract td {
    width: 170px;
}

.settlement-tab2-col2 {
    text-align: right;
    padding-right: 2.142857em;
}

#abstract-line3 {
    height: 2.142857em;
}

#shopping-cart-abstract td {
    width: 170px;
}

#abstract-line4 {
    height: 32px;
    border-top: 2px solid #f5f5f5;
}

.commodity-quantity {
    height: 34px;
    width: 40px;
    padding-left: 10px;
}